.query{
    background-color:lightblue;
    font-family: 'Trade Winds', cursive;
    font-size: 30px;

}
#foot{
    background-color:lightblue;
    font-family: 'Cinzel', serif;
}
svg{
    margin-left: 1%;
}